/* Reset de márgenes y padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del header */
header {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    margin-right: auto;
}

header .logo img {
    height: 40px;
    transition: transform 0.3s ease;
}

header .logo img:hover {
    transform: scale(1.1);
}

header nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

header nav a {
    margin: 0 30px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #007bff;
}

header .social-container {
    display: flex;
    align-items: center;
}

header .social-media {
    display: flex;
    margin-right: 20px;
}

header .social-media a {
    margin: 0 10px;
    display: block;
}

header .social-media img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

header .social-media img:hover {
    transform: scale(1.1);
}

header .cart {
    margin-left: auto;
}

header .cart img {
    height: 30px;
    transition: transform 0.3s ease;
}

header .cart img:hover {
    transform: scale(1.1);
}

/* Estilo del swap de imágenes */
.image-swap-wrapper {
    position: relative;
    width: 100%;
    height: 400px; /* Ajusta la altura para hacer el swap más grande */
    overflow: hidden;
}

.image-swap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swap-container {
    display: flex;
    width: 500%; /* Número de imágenes en porcentaje */
    height: 100%;
    animation: swap 90s linear infinite; /* Duración extendida para un swap muy lento */
}

.swap-container img {
    width: 20%; /* Ancho igual a 100% / número de imágenes */
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el área */
}

@keyframes swap {
    0% { transform: translateX(0); }
    100% { transform: translateX(-400%); } /* Ajusta el porcentaje para tu número de imágenes */
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white; /* Color del texto para contraste */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
    z-index: 1; /* Asegúrate de que el texto esté encima del swap */
    padding: 20px; /* Espacio alrededor del texto */
    box-sizing: border-box;
    font-size: 2rem; /* Tamaño de fuente más grande */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para mayor legibilidad */
}

/* Estilo del logo grande */
.large-logo-wrapper {
    padding: 40px 20px;
    text-align: center;
    background: #f4f4f4;
    border-top: 5px solid #007bff;
    border-bottom: 5px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 0; /* Añadido margen superior e inferior */
}

.large-logo-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.large-logo-wrapper img:hover {
    transform: scale(1.05);
}
.image-logo-we{
    text-align: center;
    margin: 20px;
    padding: 25px;
}
/* Estilo de la sección de texto y galería */
.text-and-gallery {
    padding: 40px;
    border-radius: 15px;
    font-size: 1rem;
    background-color: #f0f0f0; /* Color de fondo gris claro para el contenedor */
}

.text-and-gallery h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    border-radius: 5px;
    background-color: #f0efef;
}

/* Contenedor para las tarjetas */
.gallery-container {
    background-color: #e0e0e0; /* Color de fondo gris más oscuro para el contenedor de las tarjetas */
    padding: 20px; /* Espacio alrededor de las tarjetas */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para el contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    width: 90%; /* Ajusta el ancho del contenedor */
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px; /* Espacio dentro de la cuadrícula */
}

.gallery-item {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño máximo de las imágenes */
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    margin: 0 auto; /* Centra las tarjetas horizontalmente */
}

.gallery-item img {
    width: 100%;
    height: 200px; /* Ajusta la altura para que todas las imágenes tengan la misma altura */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item p {
    margin-top: 10px;
}

/* Estilo del formulario de contacto */
.contact-form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* Añade un borde al formulario */
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}

.form-instruction {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Imagen grande entre la galería y el formulario */
.large-logo-wrapper {
    padding: 40px 20px;
    text-align: center;
    background: #f4f4f4;
    border-top: 5px solid #007bff;
    border-bottom: 5px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 0; /* Añadido margen superior e inferior */
}

.large-logo-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.large-logo-wrapper img:hover {
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: center;
    }

    header nav a {
        margin: 10px 0;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
    }

    .gallery-item {
        max-width: 250px; /* Ajusta el tamaño máximo para pantallas más pequeñas */
    }

    .image-swap-wrapper {
        height: 300px;
    }

    /* Estilo del footer */
footer {
    background-color: #ffffff; /* Color de fondo oscuro */
    color: #ecf0f1; 
    padding: 20px 0; /* Espacio arriba y abajo */
    text-align: center; 
    border-top: 4px solid #ffffff; /* Borde superior azul */
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; /* Espacio horizontal alrededor del contenido */
}

.footer-content p {
    margin: 10px 0; 
    font-size: 1rem; 
}

.footer-content a {
    color: #ffffff; 
    text-decoration: none; 
    font-weight: bold; 
}

.footer-content a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

@media (max-width: 768px) {
    .footer-content p {
        font-size: 0.9rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }
}
.slider {
            position: relative;
            width: 100%;
            max-width: 800px; /* Ajusta según el tamaño deseado */
            margin: 0 auto; /* Centra el slider horizontalmente */
            overflow: hidden;
        }

        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out; /* Suaviza la transición entre imágenes */
        }

        .slide {
            min-width: 100%;
            box-sizing: border-box;
        }

        .slide img {
            width: 100%;
            display: block;
        }

        .slider-controls {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
            z-index: 1;
        }

        .control-button {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 2rem;
        }

        .control-button:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Botones de radio ocultos */
        input[type="radio"] {
            display: none;
        }

        /* Controles de radio para seleccionar cada imagen */
        #slide1:checked ~ .slides {
            transform: translateX(0%);
        }

        #slide2:checked ~ .slides {
            transform: translateX(-100%);
        }

        #slide3:checked ~ .slides {
            transform: translateX(-200%);
        }

        #slide4:checked ~ .slides {
            transform: translateX(-300%);
        }

        #slide5:checked ~ .slides {
            transform: translateX(-400%);
        }}
        /* Estilos del Slider */
        .image-swap-wrapper {
            position: relative;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            margin: 0 auto; /* Centra el slider horizontalmente */
        }

        .image-swap {
            position: relative;
            width: 100%;
        }

        .swap-container {
            display: flex;
            transition: transform 0.5s ease-in-out; /* Suaviza la transición entre imágenes */
            width: 100%;
        }

        .swap-container img {
            width: 100%;
            height: auto;
        }

        .background-text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 20px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        }

        .slider-controls {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
            z-index: 1;
        }

        .control-button {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 2rem;
        }

        .control-button:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
        /* Pagina de Productos | CROWN ------------------- */

/* Reset de márgenes y padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo */
.body-tienda {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeded;
}

/* Estilo del header */
#header-tienda {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container-tienda {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#nav-tienda .nav-link-tienda {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

#nav-tienda .nav-link-tienda:hover {
    text-decoration: underline;
}

/* Estilo del logo */
.logo-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #ffffff;
}

.logo-tienda {
    height: 80px;
}

/* Estilo del main */
#main-tienda {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.titulo-tienda {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.tarjeta-producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen-producto {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.nombre-producto {
    font-size: 18px;
    margin: 15px 0;
}

.descripcion-producto {
    font-size: 14px;
    color: #555;
}

.precio-producto {
    font-size: 20px;
    color: #181715;
    margin: 10px 0;
}

.btn-carrito {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #a0a3a5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-carrito:hover {
    background-color: #000001;
}

/* Estilo del footer */

#footer-crown {
    background-color: #2d3843;
    color: #ecf0f1;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo-img {
    max-width: 150px; /* Ajusta según el tamaño del logo */
    height: auto;
}

.footer-contact {
    margin-bottom: 10px;
}

.footer-email {
    font-size: 16px;
}

.footer-email-link {
    color: #3498db;
    text-decoration: none;
}

.footer-email-link:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #34495e;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}




/* Responsive */
@media (max-width: 1200px) {
    .contenedor-productos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .contenedor-productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-tienda {
        flex-direction: column;
        align-items: center;
    }

    #nav-tienda .nav-link-tienda {
        margin: 10px 0;
    }
}

@media (max-width: 576px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}

/* Estilos para la sección de reseñas */
.reviews-section {
    position: relative; /* Necesario para el posicionamiento del fondo y el contenido */
    padding: 40px 20px; /* Ajusta el padding según sea necesario */
    background: url('images/chicapatioaccs.tiff') no-repeat center center; /* Cambia la URL a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra toda el área del fondo */
    background-attachment: fixed; /* Mantiene la imagen de fondo fija al hacer scroll */
    color: #fff; /* Cambia el color del texto si es necesario para asegurar buen contraste */
    text-align: center; /* Centra el texto */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    min-height: 400px; /* Ajusta la altura mínima según sea necesario */
    display: flex; /* Utiliza flexbox para alinear el contenido */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
}

/* Contenedor de las reseñas */
.reviews-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative; /* Asegura que el contenido esté por encima del fondo */
}

/* Estilos para las cajas de reseñas */
.review {
    width: 45%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para mejorar la legibilidad */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido dentro de la caja */
    text-align: center; /* Centra el texto dentro de la caja */
}

/* Contenedor de estrellas */
.stars {
    margin-bottom: 20px; /* Espacio debajo de las estrellas */
    margin-top: -40px; /* Ajusta el valor negativo para mover las estrellas más arriba */
}

/* Icono de estrella */
.star {
    font-size: 24px; /* Ajusta el tamaño de las estrellas según sea necesario */
    color: white; /* Color blanco para las estrellas */
}

/* Espacio debajo del texto */
.review p {
    margin-bottom: 10px;
}

/* Contenedor de la información del autor */
.review-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Espacio encima de las imágenes del autor */
}

/* Imagen del autor */
.author-img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%; /* Redondea la imagen para que parezca un círculo */
    margin-bottom: 5px; /* Espacio debajo de la imagen */
    border: 2px solid #fff; /* Borde blanco para mayor visibilidad */
}

/* Texto debajo de las imágenes de los autores */
.review-author p {
    margin: 5px 0 0; /* Espacio encima y debajo del texto */
    font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
}

/* Animación de fondo al hacer scroll */
@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%; /* Cambia 100% a un valor que se ajuste a tu imagen */
    }
}

/* Aplicar animación de fondo */
.reviews-section {
    animation: scrollBackground 30s linear infinite;
}
/* Estilos generales */
.giftcards-section {
    font-family: 'Roboto', sans-serif;
    padding: 20px 10%;
    background-color: #fff;
}

.giftcards-heading {
    text-align: center;
    margin: 40px 0 40px; 
    font-size: 2rem;
    color: #444;
}

.giftcards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.giftcard-item {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.giftcard-img-100,
.giftcard-img-200,
.giftcard-img-500 {
    width: 100%;
    border-radius: 4px;
}

.giftcard-title-100,
.giftcard-title-200,
.giftcard-title-500 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #555;
}

.giftcard-description-100,
.giftcard-description-200,
.giftcard-description-500 {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
}

.giftcard-button-100,
.giftcard-button-200,
.giftcard-button-500 {
    padding: 10px 20px;
    background-color: #e67e22;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.giftcard-button-100:hover,
.giftcard-button-200:hover,
.giftcard-button-500:hover {
    background-color: #d35400;
}

.giftcard-item:hover {
    transform: translateY(-5px);
}

/* Estilos para la sección de compra */
.buy-section {
    padding: 20px 10%;
    background-color: #eaf2f8;
}

.buy-heading {
    text-align: center;
    color: #444;
}

.buy-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buy-form-group {
    margin-bottom: 15px;
}

.buy-label-nombre,
.buy-label-email,
.buy-label-giftcard {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.buy-input-nombre,
.buy-input-email,
.buy-select-giftcard {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.buy-button-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button-submit:hover {
    background-color: #229954;
}

/* Gif Cards OPCION 1 -------------------------------------- */

.giftcards-section {
    padding: 20px;
    background-color: #f4f4f4;
}

.giftcards-heading {
    text-align: center;
    margin: 40px 0;
    font-size: 2rem;
    color: #444;
}

.giftcards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.giftcard-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.giftcard-img-100,
.giftcard-img-200,
.giftcard-img-300,
.giftcard-img-400,
.giftcard-img-500,
.giftcard-img-600 {
    width: 100%;
    border-radius: 4px;
}

.giftcard-title-100,
.giftcard-title-200,
.giftcard-title-300,
.giftcard-title-400,
.giftcard-title-500,
.giftcard-title-600 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #555;
}

.giftcard-description-100,
.giftcard-description-200,
.giftcard-description-300,
.giftcard-description-400,
.giftcard-description-500,
.giftcard-description-600 {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
}

.giftcard-button-100,
.giftcard-button-200,
.giftcard-button-300,
.giftcard-button-400,
.giftcard-button-500,
.giftcard-button-600 {
    padding: 10px 20px;
    background-color: #c3c0be;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.giftcard-button-100:hover,
.giftcard-button-200:hover,
.giftcard-button-300:hover,
.giftcard-button-400:hover,
.giftcard-button-500:hover,
.giftcard-button-600:hover {
    background-color: #080808;
}

.giftcard-item:hover {
    transform: translateY(-5px);
}

.giftcard-form-heading {
    text-align: center;
    margin: 30px 0 20px;
    font-size: 1.8rem;
    color: #444;
}

.giftcard-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-textarea {
    resize: vertical;
}

.form-submit-button {
    width: 100%;
    padding: 12px;
    background-color: #c3c0be;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.form-submit-button:hover {
    background-color: #080808;
} 

/* Gift Cards OPCION 2 (GALERIA) --------------------- */

/* Reseteo de márgenes y rellenos para evitar conflictos */
/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */


/* Contenedor principal que asegura que el footer esté al final */
/* .page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main.content {
    flex: 1; /* Ocupa todo el espacio disponible, empujando el footer hacia abajo */


.gallery-container {
    flex: 1; /* Ocupa todo el espacio disponible dentro de main */
    overflow: hidden; /* Evita el desbordamiento */
}

.card-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    height: 400px; /* Ajusta la altura según tus necesidades */
}

.card-item {
    position: relative;
    flex: 0 0 auto;
    width: 20%; /* Ajusta el ancho según el número de tarjetas */
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-item:hover {
    transform: scale(1.1);
    z-index: 1;
}

.card-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.card-price {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.card-value {
    font-size: 1em;
    margin: 5px 0 0;
}

/* Media Queries */
@media (max-width: 1200px) {
    .card-item {
        width: 25%;
    }
}

@media (max-width: 900px) {
    .card-item {
        width: 33.33%;
    }
}

@media (max-width: 600px) {
    .card-gallery {
        flex-direction: column;
        overflow-x: hidden;
    }

    .card-item {
        width: 100%;
    }

    .card-overlay {
        bottom: 5px;
        left: 5px;
        width: calc(100% - 10px);
    }

    .card-price {
        font-size: 1em;
    }

    .card-value {
        font-size: 0.8em;
    }
}

footer {
    background: #f1f1f1; /* Cambia el color de fondo según tu diseño */
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd; /* Opcional, para agregar una línea arriba del footer */
} */

/* CARRITO */

.cart-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-details {
    flex: 1;
    padding-left: 20px;
}

.item-name {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.item-price {
    font-size: 16px;
    color: #888;
    margin: 5px 0;
}

.item-quantity {
    width: 50px;
    padding: 5px;
    font-size: 16px;
}

.remove-item {
    background-color: #ff6961;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-item:hover {
    background-color: #ff5a4f;
}

.cart-total {
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.checkout-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.checkout-button:hover {
    background-color: #45a049;
}